<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>CLASS NOTES</title>
<script type="text/javascript" src="/static/jquery-2.1.0.js"></script>
<script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<link href="../../static/css/shownotes/index.css" rel="stylesheet" type="text/css">
</head>


<body>
  <div id="top-bar">
    <ul>
      {% if user.is_authenticated %}
      	<li><a href="/accounts/logout">Welcome, {{ user.username }}</a></li>
        <li><a href="/editnote/edit">New Note</a></li>
      {% else %}
	    <li><a href="/accounts/login">login</a></li>
	    {% endif %}
      
    </ul>
    <div><a href="/shownotes/index">Class Note</a></div>
  </div>
  {% block main %}{% endblock %}

</body>
</html>

