{% extends "shownotes/base.html" %}

{% block main %}
        
  <form action="/editnote/save" method="post">
    {% csrf_token %}
    classname<input id="subject" name="subject" value="subject"></input>
    <textarea name="editor" id="editor" rows="10" cols="80" >This is my textarea to be replaced with CKEditor.</textarea>
    <script>
      // Replace the <textarea id="editor1"> with a CKEditor
      // instance, using default configuration.
      CKEDITOR.replace( 'editor' );
    </script>
    keywords<input id="tag" name="tag" value="tag"></input>
    class<input id="class" name="class" value="class"></input>
    department<input id="department" name="department" value="department"></input>
    school<input id="school" name="school" value="school"></input>
    <input type="submit" value="OK">
  </form>
{% endblock %}
