BeautifulSoup==3.2.1
Django==1.6.2
PyRSS2Gen==1.0.0
PyYAML==3.10
South==0.8.4
Twisted==12.2.0
altgraph==0.10.1
bdist-mpkg==0.4.4
beautifulsoup4==4.3.2
dj-database-url==0.3.0
dj-static==0.0.6
django-javascript-settings==1.1.1
django-registration==1.0
django-toolbelt==0.0.1
gunicorn==19.1.0
lxml==3.3.3
macholib==1.5
modulegraph==0.10.1
psycopg2==2.5.3
py2app==0.7.1
pyOpenSSL==0.13
pyserial==2.7
python-dateutil==1.5
pytz==2012d
requests==2.2.1
simplejson==3.3.3
static3==0.5.1
virtualenv==1.11.6
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
