body {
  background-color: #dadee1;
}

#top-bar {
	margin-top: 0px;
	background-color: #3498DB;
	height: 50px;
	width: 100%;
	top: 0;
	right: 0;
	float: left;
}

#top-bar ul {

  list-style:none;
  margin-top: 0px;
  padding:0px;
  border-style:none;

}

#top-bar li {
  width: 100px;
  float: right;
  text-align: center;
  margin-right: 3px;
  margin-top: 10px;
  height: 30px;
}

#top-bar li a {
  list-style-type:none;
  font-size: 16px;
  color:white;
  text-decoration: none;
}

#top-bar li a:hover{
  color:#2b6054;
}

#main {
	background: transparent;
}

#notenamelist {
	background-color: #FFFFFF;
	float: left;
	width: 300px;
	height: 90%;
	text-align: left;
	border-width: thin;
    border-style: solid;
    border-color: #C8C8C8 #A8A8A8;
    overflow-y: auto;
}

#notenamelist div {
  background-color: #FFFFFF;
  height: 80px;
  text-align: left;
  overflow: hidden;
  border-width: thin;
  border-style: solid;
  border-color: #C8C8C8 #A8A8A8;
}

#notenamelist div:hover {
	background-color: #D9D9D9;
}
#shownote {
	background-color: #dadee1;
	margin-left: 550px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	min-height: 40%;
	width: auto;
}

#category {
	width: 250px;
	background-color: white;
	float: left;
	background: transparent;
	border-width: medium;
	height: 90%;
}

.menu {
	margin: 0;
	padding: 0;
  	border-width: thin;
  	border-style: solid;
  	border-color: #C8C8C8 #A8A8A8;
	background-color: #D3D3D3;
}

#main #shownote #Content {
	min-height: 400px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-color: #dadee1 #dadee1;
}

#main #shownote #Title {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFFFFF;
}
