{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="login">
  <div class="login-screen">
  	<div class="app-title">
      <h1>Login</h1>
	</div>

	<form method="post" action=".">
	  <div class="login-form">
	  	{% csrf_token %} 
	  	<div class="control-group">
	  	  {{ form.as_p }}
	  	</div>

	  	<input class="btn btn-primary btn-large btn-block" type="submit" value="{% trans 'Log in' %}" />
	  	<input type="hidden" name="next" value="{{ next }}" />
	  	<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
		<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
	  </div>
	</form>

  </div>
</div>


{% endblock %}
