{% extends "shownotes/base.html" %}

{% block main %}
  <div>
    <div id="classname">
      {% for n in note%}
        <div onclick="getContent('{{n.id}}')">
          
          {{ n.subject|safe }}</br>
          {{ n.content|safe }}

        </div>
      {% endfor %}
    </div>
    <div id="shownote">Content for  class "main" Goes Here </div>
  </div>
  <script>
  var content;

  function getContent(id) {
    $.getJSON("/shownotes/getContent/?q="+id, 
    function(data){
      content = data;
      document.getElementById("shownote").innerHTML = content['content'];
    });
    
  }

</script>
{% endblock %}

